th, td {
  border: 1px solid #6a5dbe;
  padding: 2px;
  text-align: left;
}

th {
  background-color: #ffffff;
}

tr {
  background-color: rgb(255, 255, 255);
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: bold;
}

input[type="text"], input[type="email"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #23ff2b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}