p {
  color: #29292e;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

body {
  background-color: rgb(215, 246, 253);
}

h1 {
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  text-align: center;
}

.mirrorselfie {
  max-height: 500px;
  width: auto;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #6a5dbe;
  padding: 2px;
  text-align: left;
}

th {
  background-color: #ffffff;
}

tr {
  background-color: rgb(255, 255, 255);
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: bold;
}

input[type="text"], input[type="email"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}